@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
:root {
    --transitionTime: 0.18s;

    --darkBackgroundGray: #343f50;
    --liGray:#b1b1b1;
    --lightGray:#d3cfcc;

    --mainWhite:#d5d9dd;

    --mainGold: #31afee;
    --darkGoldDesLink: #a48207;
    --darkGoldDesLinkHover: #514107;
}
body {
    background-color:var(--darkBackgroundGray); /*var(--darkBackgroundGray);*/
    overflow-x: hidden;
    padding-bottom: 40px;
}

@media (max-width:666px) {
    body {
        padding-bottom: 100px;
    }
}

* {
    -webkit-overflow-scrolling: touch;
    transition:var(--transitionTime);
    /*font-family: monospace,"Lucida Grande",sans-serif;*/
    font-family:'Jura',monospace,sans-serif;
}

a:-webkit-any-link {
    color: transparent;
}

a {
    color: transparent;
}

p{
    line-height: 1.55;
}

strong, b{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}

.icons{
    font-size:2.3px;
}

h2, h3, h4, h5, p, li, strong, b{
    color: var(--mainWhite);
}
/*
::-webkit-scrollbar {
    width: 0px;
}*/